<h1>Tasks</h1>
<p>Here is a list of all your tasks</p>

<ul style="list-style-type: none;">
  <% @tasks.each do |task| %>
    <li>
      <span><%= task.completed == true ? "&#9733;".html_safe : "&#9734;".html_safe %></span>
      <%= link_to task.title, task_path(task) %> |
      <%= link_to 'DELETE', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>


    </li>
  <% end %>
</ul>
<%= link_to 'Add new task', new_task_path %>
